<a href="#">
  <div class="container__big-card">
    <div class="big-card__photo">
      <img
        src="https://images.tcdn.com.br/img/img_prod/752815/noticia_379590414607df97f358e4.png"
        alt=""
        height="200px"
        srcset=""
      >
    </div>

    <div class="big-card__title">
      <h2>Patricia vem fazendo sucesso no mercado</h2>
    </div>

    <div class="big-card__description">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit dolore culpa porro doloribus amet ipsam at ullam dignissimos, quasi cupiditate, ipsa ea expedita saepe incidunt quisquam magnam nulla sit voluptates.</p>
    </div>
    
  </div>
</a>
