.container__big-card {
  border: solid white 2px;
  margin: 0 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__photo > img {
  width: 100%;
  min-width: 396px;
}

.big-card__title > h2 {
  margin-top: 15px;
  font-size: 20px;
}

.big-card__description > p {
  color: gray;
  margin-top: 10px;
}

@media (max-width: 1150px) {
  .container__big-card {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: 800px;
    margin-bottom: 30px;
  }

  .big-card__photo > img {
    width: 100%;
  }

  .big__card-section {
    width: 400px;
  }
}

@media (max-width: 811px) {
  .container__big-card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .big-card__photo > img {
    width: 100%;
  }

  .big__card-section {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .big-card__photo > img {
    min-width: 0;
    max-width: 350px;
  }

  .big__card-section {
    margin: 20px;
  }

  .container__big-card {
    width: 90%;
  }
}
