.container__menu-title {
  width: 100vw
}

.container__menu-title > h1 {
  font-size: 85px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr {
  margin-top: 20px;
  margin-bottom: 5px;
}
