.container__small-card {
  width: 700px;
  margin-bottom: 15px;
}

.container__small-card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.small-card__photo img {
  width: 200px;
  min-width: 200px;
  height: 100px;
}

.container__small-card__separator {
  margin-top: 10px;
}

@media (max-width: 750px) {
  .container__small-card {
    width: 100%;
    margin: 20px
  }
}

@media (max-width: 500px) {
  .small-card__title {
    font-size: 11px
  }

  .container__small-card {
    width: 90%;
    margin-bottom: 15px;
  }

  .small-card__photo img {
    width: 140px;
    min-width: 140px;
  }
}
